.sconsign.dblite
.sconf_temp/
build/
src/*.o
src/*.os
demo/addons/ADLMIDI/bin/*.so
demo/addons/ADLMIDI/bin/*.dll
demo/addons/ADLMIDI/bin/*.dylib
demo/addons/ADLMIDI/bin/*.a
demo/.godot/
tests/bin/
tests/*.o
tests/*.os
